h1 {
color:cyan;
text-align:center;
font-size:45px;
font-family:fantasy;
}

h2 {
color:red;
text-align:center;
font-size:35px;
}

h3 {
font-size:30px;
color:yellow;
text-align:center;
font-family:fantasy;
}

h4 {
color:green;
font-size:25px;
font-family:sans-serif;
}

h5 {
color:orange;
font-size:25px;
font-family:sans-serif;
}

h6 {
color:purple;
font-size:25px;
font-family:cursive;
}

p {
color:white;
font-family:cursive;
}

